.bouton {
  --background: #f7d5ba;
  color: #E05B32;
  margin-left: 450px;
}


div{
  text-align: justify;
}


ion-text{
  font-size: 1.3vmax  !important;
}

ion-label{
  font-size: 1.8vmax  !important;
}
