.header{
  text-align: center;
  --ion-background-color: none;
  --ion-toolbar-background:none;
}

#logoLCU{
  max-width: 20%;
}

#zoneHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#zoneRetour{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

#iconeRetour{
  width: 20%;
  margin: 10px;
}

#texteRetour{
  font-size: 1.8em;
}

#zoneTitre{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

#buttonFiltre{
  width: 15%;
  margin-right: 5%;
  font-weight: bold;
  font-size: 2.2vmax !important;
}

.titrePage{
  font-family: 'Neilvard-One', sans-serif;
  font-weight: bold;
  font-size: 3.3em;
}
