h2 {
  text-align: center;
  color: #e05b32;
}

card-img {
  width: 100%;
  max-width: 475px;
  height: 60%;
  margin-top: 12%;
}

.card-body h4 {
  text-align: center;
}

.card {
  background-color: #f7d5ba;
  height: 100%;
}
